:root {
    --text-color: #596774;
    --footer-color-light: #D7FAFF;
    --footer-color-dark: #0074E1;
    --nav-bg-color: #d3eff0;
}


body {
    background-image: url(./image/background-opasity-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.back-color {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 55px;
    background-color: var(--nav-bg-color);
    border-radius: 0 0 0 15rem;
    clip-path: path('M 0 0 L 100% 0 L 100% 100% Q 0 100% 0 0'); /* Smooth curve matching border-radius */
}

/*content section*/
.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em;
    align-items: center;
    width: 100%;
}

.profile-picture {
    background-color: var(--text-color);
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    margin: auto;
}
.profile-picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.skill-block-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;
}

.skill-block {
    background-color: rgb(255, 255, 255,0.6);
    height: 20em;
    border-radius: 1rem;
    padding: 1em;
    color: var(--text-color);
}
.skill-block div{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-block div label{
    width: 30%;
    padding-right: 1em;
}

progress{
    width: 60%;
    padding-left: 1em;
}
progress[value] {
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
  }

progress::-webkit-progress-bar {
    background-color:white;
    border-radius: 1em;
    border: solid var(--text-color);
}
progress::-webkit-progress-value {
    background-color: var(--text-color);
    border-radius: 1em;
    opacity: 0.7;
}

.skill-title{
    text-align: center;
    padding: 1em;
}
.background{
    padding: 2em;
}

.background-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 2em;
}

.bg-content {
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 2em;
}
.bg-content p {
    display: none;
}

.bg-content ul {
    padding-left: 2em;
}

.vertical-line {
    width: 20px;
    height: 100%;
    border-left: solid var(--text-color);
}

@media screen and (min-width: 651px) and (max-width: 1000px) {
    .profile-picture {
        height: 15rem;
        width: 15rem;
    }
}
@media only screen and (max-width: 700px){
    .profile-picture{
        height: 12rem;
        width: 12rem;
    }
    .intro {
        padding: 1em 0;
    }
    .skill-block-holder {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 1em 0;
        
    }
    .bg-content p {
        display: inline;
    }
    .time-line{
        display: none;
    }
    .background{
        padding: 1em 0;
    }
    .background-holder {
        padding: 1em;
        grid-template-columns: 1fr;
    }
    .bg-content {
        grid-column: auto;
    }
}