/*slide*/
@keyframes slideInLeft {
    from {
        transform: translateX(-15px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section {
    view-timeline: --sectionReveal;
}

.section-title {
    animation-timeline: --sectionReveal;
    animation-name: slideInLeft;
    animation-range: entry 40% entry 60%;
    animation-fill-mode: both;
}

.section-des {
    animation-timeline: --sectionReveal;
    animation-name: slideInLeft;
    animation-range: entry 50% entry 70%;
    animation-fill-mode: both;
}

.section-progress {
    animation-timeline: --sectionReveal;
    animation-name: progress;
    animation-range: entry 50% entry 70%;
    animation-fill-mode: both;
}