:root {
    --text-color: #596774;
    --footer-color-light: #D7FAFF;
    --footer-color-dark:#0074E1;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 85%;
    margin: auto;
    padding-top: 10vh;
}
nav {
    width: 20%;
    padding: 1em;
    margin-left: 1em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 1000;
    /* 确保 header 在其他元素之上 */
}

.webDesign, .UID, .industrialDesign, .creativeProduct{
    padding: 3%;
    color: var(--text-color);
}



.img-block{
    background-color: var(--text-color);
    height: 20em;
    border-radius: 1em;
}
.content-block{
    background-color: var(--text-color);
    height: 20em;
    border-radius: 1em;
}

.col-container-1, .col-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 1em;
}
.col-container-1 :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}
.col-container-2 :nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}