:root {
    --text-color: #596774;
    --footer-color-light: #D7FAFF;
    --footer-color-dark: #0074E1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.limelight-regular {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body {
    width: 100%;
    color: #344D66;
    padding-top: 0;
    /*To cover padding-top: 10vh in style.css*/
}

#nav {
    margin-right: 5.25%;
}

/*header*/
.back-btn {
    position: absolute;
    top: 0;
}

.back-btn a {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

/*Cover section*/
.cover {
    padding-bottom: 5%;
    background-image: url(./coverimg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.cover-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    height: 100%;
    align-items: center;
}

.cover-container h1 {
    font-size: 3em;
}

.cover-container p {
    font-size: 1.5em;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.design {
    width: 85%;
    margin: auto;
    padding: 5% 0;
}

/*Text*/
h1 {
    padding-top: 1em;
    font-size: 1.5em;
}

p {
    line-height: 1.5em;
}

/*Background-color*/
.description {
    background-color: #FDF5EB;
    width: 100vw;
    padding: 5% 10%;
}

.grid-system,
.tools {
    background-color: #A7BDB4;
    width: 100vw;
    padding: 5% 10%;
}

/*Description section*/
.description p {
    padding-top: 0.5em;
}

.grid-system {
    margin: auto 0;
}

.grid-content {
    position: absolute;
    display: flex;
}

/*color scheme*/
.color-scheme {
    background-color: #FDF5EB;
    width: 100vw;
    padding: 0 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

.grid-container p {
    text-align: center;
    width: 100%;
}

.color-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.primary-color-block,
.secondary-color-block,
.third-color-block,
.fourth-color-block {
    width: 6em;
    height: 6em;
    border: solid #A7BDB4;
}

.primary-color-block {
    background-color: #A7BDB4;
    border-radius: 0 50% 0 50%;
}

.secondary-color-block {
    background-color: #FDF5EB;
    border-radius: 50% 0 50% 0;
}

.third-color-block {
    background-color: #494A42;
    border-radius: 50% 0 50% 0;
}

.fourth-color-block {
    background-color: #2A2B29;
    border-radius: 0 50% 0 50%;
}

.color-scheme p {
    font-size: 2em;
}

/*grid-system section*/
.grid-system h1 {
    color: #FDF5EB;
}

/*tools section*/
.tools h1 {
    color: #FDF5EB;
}

iframe {
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 750px) and (max-width: 1000px) {

    .device-mockup {
        height: 50vh;
        margin-top: 10%;
    }

    .device-mockup h1 {
        font-size: 2.5em;
    }

    .device-mockup p {
        font-size: 1.2em;
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .screenshot-2 {
        margin-top: 30%;
    }

    .screenshot-1 {
        position: relative;
    }

    .back-btn {
        width: 30%;
    }

}



@media only screen and (max-width: 750px) {
    .cover {
        padding-top: 0;
        height: 70vh;
    }

    .cover-container {
        padding-top: 10%;
        grid-template-columns: 1fr;
        gap: 0;
        align-items: end;
    }

    .cover-container img {
        order: 2;
    }

    .cover-content {
        order: 1;
    }

    .cover-container h1 {
        font-size: 2em;
        padding: 0;
    }

    .cover-container p {
        font-size: 1.2em;
    }

    .features-container {
        grid-template-columns: 1fr;
    }

    .grid-container p {
        font-size: 1em;
    }

    .improvements-container {
        grid-template-columns: 1fr;
    }

    .back-btn {
        width: 40%;
    }

    .personas-container {
        grid-template-columns: 1fr;
    }

    iframe {
        display: none;
    }

    .primary-color-block,
    .secondary-color-block,
    .third-color-block,
    .fourth-color-block {
        width: 4em;
        height: 4em;
    }

}