:root {
    --text-color: #596774;
    --footer-color-light: #D7FAFF;
    --footer-color-dark: #0074E1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body {
    width: 100%;
}

#nav {
    margin-right: 5.25%;
}




/*Text*/
.cover-content h1 {
    font-size: 3em;
}

.subtitle {
    font-size: 1.5em;
}

/*Cover section*/
.cover {
    height: auto;
    margin: auto;
    padding-bottom: 10%;
}

.cover-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.cover-container img {
    object-fit: contain;
    width: 100%;
    margin-left: auto;
    padding: 15%;
}

.cover-content {
    padding-top: 20%;
    background-color: #004668;
    padding: 15%;
    border-radius: 0 50% 50% 0;
    background-image: url(./color-block.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.app-positioning{
    padding-top: 5%;
}
.app-positioning p{
    padding: 1% 0;
}

/*description section*/
.description {
    padding: 5% 0;
    background-color: #D9F2E2;
    width: 100%;
}

.description h1 {
    padding-top: 1em;
}
.description p{
    padding: 1em;
}

.description-container {
    width: 80%;
    margin: auto;
}

/*persona*/
.persona {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    justify-content: center;
    text-align: center;
}

.persona-block img {
    width: 100%;
    object-fit: cover;
    border-radius: 15%;
    padding: 5% 0;
}

/*Design system section*/
.design-system {
    width: 80%;
    margin: auto;
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo {
    width: 100%;
}
.logo img {
    object-fit: scale-down;
    width: 100%;
}

/*color-scheme-section*/
.color-scheme {
    width: 100%;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    padding-left: 5%;
}

.color-scheme-container {
    display: flex;
    padding: 5% 0;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
    height: 5em;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.color-1 {
    background-color: #d3f3e1;
}

.color-2 {
    background-color: #9ad6cc;
}

.color-3 {
    background-color: #99b6c2;
}

.color-4 {
    background-color: #004668;
    color: white;
}

.color-5 {
    background-color: #e6b087;
}

/*prototype*/
.prototype {
    width: 80%;
    margin: auto;
    padding: 5% 0;
}

.prototype img {
    object-fit: scale-down;
    width: 100%;
    padding-top: 3%;
}

/*component*/
.component{
    background-color: #D9F2E2;
}
.component-container{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 5% 0;
    gap: 10%;
}

.component h1{
    padding-top: 1em;
}
.component img{
    object-fit: scale-down;
    width: 100%;
    padding-top: 1em;
    margin-top: 1em;
}

.nav-ui img{
    background-color: white;
    padding: 5%;
    border-radius: 1rem;
}



@media screen and (min-width: 651px) and (max-width: 1000px) {
    .cover-container {
        grid-template-columns:2fr 1fr;
    }
    .device-mockup{
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .cover-container {
        grid-template-columns:2fr 1fr;
    }
    .device-mockup{
        display: none;
    }
    .app-positioning{
        display: none;
    }
    .cover-content hr{
        display: none;
    }
    .component-container{
        flex-direction: column;
        gap: 2em;
    }
    .btn-ui h1{
        padding-top: 2em;
    }
    .persona{
        flex-direction: column;
        gap: 2em;
    }
    .persona p {
        padding: 0;
    }
    .persona-block img {
        padding: 2% 0;
    }
}